<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.250572442033-89a3emlo36tafclqambjeaehs5k8u73i</string>
			</array>
		</dict>
	</array>
	<key>StripePublishableKey</key>
	<string>pk_live_51TDeUgFeTUUzSNY6HEM18ZwJhPgOqbsP4dAymZjMY3UC4llZg4i4DL5pLm9XzmmsDgS4qhe4zyzCQBAPEcjCJYd700oNkSy8w5</string>
	<key>FirebaseInAppMessagingAutomaticDataCollectionEnabled</key>
	<false/>
</dict>
</plist>
