<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.250572442033-89a3emlo36tafclqambjeaehs5k8u73i</string>
			</array>
		</dict>
	</array>
	<key>StripePublishableKey</key>
	<string>$(STRIPE_PUBLISHABLE_KEY)</string>
	<key>FirebaseInAppMessagingAutomaticDataCollectionEnabled</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SwifterX uses your location to show nearby providers and distance on the map. If you are a service provider on an active job, we share your live location with the customer while you are on the way so they can track your arrival.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SwifterX uses your photo library so you can set a profile photo.</string>
	<key>NSCameraUsageDescription</key>
	<string>SwifterX uses your camera so you can take a profile photo.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use analytics to improve the app experience. No data is shared with advertisers.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
